<nav class="navbar navbar-light bg-success">
  <div class="container">
    <span class="nav-admin title">
      <%= link_to 'Мои Эмблемы', obtained_badges_path, class: "text-dark" %>
    </span>
    <span class="nav-admin title">
      <%= link_to 'Все Эмблемы', badges_path, class: "text-dark" %>
    </span>
  </div>
</nav>
