<div>
  <p> <%= current_year %> </p>
  <p> Author Dmitriy </p>
  <p> <%= github_url("DmitryZyablitsev", "TestGuru_3")%> </p>
  <p> Здесь вы можете создавать и проходить различные тесты </p>  
  <p> <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'https://thinknetica.com/', target: "_blank",  rel: 'nofollow', rel: 'noopener'%> </p>
</div>
