<li>  <%= link_to answer.body, admin_answer_path(answer) %> <br>
      <%= link_to 'Edit', edit_admin_answer_path(answer) %>  
      <%= button_to 'Destroy', admin_answer_path(answer), method: :delete%>

</li>
